# ---> C
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
42sh
21sh
# Debug files
*.dSYM/
debug/
*.log

# Auto deps
.deps

cmake-build-debug
*.log
# Clion Files
.idea/
cmake-build-debug/
DOC/

# Cmake
CMakeCache.txt
CMakeFiles/
*.cbp
make_install.cmake
tests/ressources/parser/output
*.swp

*.c___jb_old___

codealike\.json
